# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Python / Backend
# =========================
backend/venv/
backend/.venv/
__pycache__/
*.pyc
*.py[cod]

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/